<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SPIConfigFilePath" value="C:\Program Files (x86)\Smart Structures\SmartPile Inspector\data\App.config"/>
    <add key="AppDataSubFolderPath" value="Smart Structures\SmartPile Inspector\Data Files"/>
  </appSettings>
</configuration>